{% extends 'base.html' %}
{% from 'bootstrap4/pagination.html' import render_pagination %}

{% block title %}{{ _('文章管理') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ _('文章') }}
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
    </div>
    {% if posts %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ _('编号') }}</th>
                <th>{{ _('标题') }}</th>
                <th>{{ _('分类') }}</th>
                <th>{{ _('日期') }}</th>
                <th>{{ _('评论') }}</th>
                <th>{{ _('字数') }}</th>
                <th>{{ _('选项') }}</th>
            </tr>
            </thead>
            {% for post in posts %}
                <tr>
                    <td>{{ loop.index + ((page - 1) * config.BLOG_MANAGE_POST_PER_PAGE) }}</td>
                    <td>
                        <a href="{{ url_for('blog.show_post', post_id=post.id) }}">
                            {% if post.title|length > 25 %}
                                {{ post.title[:25]+'...' }}
                            {% else %}
                                {{ post.title }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
                    </td>
                    <td>{{ moment(post.timestamp).format('LL') }}</td>
                    <td>
                        <a href="{{ url_for('blog.show_post', post_id=post.id) }}#comments">{{ post.comments|length }}</a>
                    </td>
                    <td>{{ post.body|striptags|length }}</td>
                    <td>
                        <form class="inline" method="post"
                              action="{{ url_for('user.set_comment', username=user.username, post_id=post.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-warning btn-sm">
                                {% if post.can_comment %}{{ _('禁止') }}{% else %}{{ _('允许') }}{% endif %}{{ _('评论') }}
                            </button>
                        </form>
                        <a class="btn btn-info btn-sm"
                           href="{{ url_for('user.edit_post', username=user.username, post_id=post.id) }}">{{ _('修改') }}</a>
                        <form class="inline" method="post"
                              action="{{ url_for('user.delete_post', username=user.username, post_id=post.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="
                                            {% if request.cookies.get('locale') == 'zh' %}
                                                return confirm('确定删除？');
                                            {% else %}
                                                return confirm('Are you sure?');
                                            {% endif %}">{{ _('删除') }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination, align='center') }}</div>
    {% else %}
        <div class="tip"><h5>{{ _('无文章') }}</h5></div>
    {% endif %}
{% endblock %}