{% extends 'base_{}.html'.format(request.cookies.get('language','cn')) %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}New Post{% endblock %}

{% block content %}
    <div class="row page-header justify-content-center align-items-center">
        <h1>New Post</h1>
    </div>
    <div class="mb-3">
        {{ render_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    {{ ckeditor.config(name='body') }}
{% endblock %}
