{% extends 'base_{}.html'.format(request.cookies.get('language','cn')) %}

{% block title %}
    {% if request.cookies.get('language','cn')=='cn' %}
        500 错误
    {% else %}
        500 Error
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {% if request.cookies.get('language','cn')=='cn' %}
                500 错误
            {% else %}
                500 Error
            {% endif %}
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>{{ description }}</p>
        </div>
        <div class="col-sm-4 sidebar">
            {% include 'blog/_sidebar_{}.html'.format(request.cookies.get('language','cn')) %}
        </div>
    </div>
{% endblock %}
