{% extends 'user/profile/base.html' %}
{% from 'bootstrap4/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card %}

{% block title %}{{ user.name }} {{ _('的收藏') }}{% endblock %}

{% block content %}
    {% include 'user/profile/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if user.public_collections or current_user == user %}
                {% if collects %}
                    {% for collect in collects %}
                        {{ photo_card(collect.collected) }}
                    {% endfor %}
                {% else %}
                    <div class="tip">
                        <h3>{{ _('无收藏') }}</h3>
                    </div>
                {% endif %}
            {% else %}
                <div class="tip">
                    <h3>{{ _('该用户收藏设置为不可见') }}</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if collects %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}
