{% extends 'user/profile/base.html' %}
{% from 'bootstrap4/pagination.html' import render_pagination %}
{% from 'macros.html' import user_card with context %}

{% block title %}{{ user.name }} {{ _('的关注') }}{% endblock %}

{% block content %}
    {% include 'user/profile/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if user.public_followings or current_user == user %}
                {% if follows|length %}
                    {% for follow in follows %}
                        {% if follow.followed != user %}
                            {{ user_card(user=follow.followed) }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="tip">
                        <h3>{{ _('无关注') }}</h3>
                    </div>
                {% endif %}
            {% else %}
                <div class="tip">
                    <h3>{{ _('该用户关注设置为不可见') }}</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
