{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_form %}
{% from 'macros.html' import photo_card %}

{% block title %}识别结果{% endblock %}

{% block content %}
    <div class="container h-100 mb-3">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>识别结果</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>
{% endblock %}

