{% extends 'base_{}.html'.format(request.cookies.get('language','cn')) %}
{% from 'bootstrap4/pagination.html' import render_pagination %}
{% from 'macros.html' import post_card, photo_card, user_card with context %}

{% block title %}Search: {{ q }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Search: {{ keywords }}</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="nav nav-pills flex-column" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-item nav-link {% if category == 'post' %}active{% endif %}"
                   href="{{ url_for('.search', keywords=keywords, category='post') }}">Post</a>
                <a class="nav-item nav-link {% if category == 'user' %}active{% endif %}"
                   href="{{ url_for('.search', keywords=keywords, category='user') }}">User</a>
                <a class="nav-item nav-link {% if category == 'photo' %}active{% endif %}"
                   href="{{ url_for('.search', keywords=keywords, category='photo') }}">Photo</a>
                <a class="nav-item nav-link {% if category == 'tag' %}active{% endif %}"
                   href="{{ url_for('.search', keywords=keywords, category='tag') }}">Tag</a>
            </div>
        </div>
        <div class="col-md-9">
            {% if results %}
                <h5>{{ results|length }} results</h5>
                {% for item in results %}
                    {% if category == 'post' %}
                        {{ post_card(item) }}
                    {% elif category == 'user' %}
                        {{ user_card(item) }}
                    {% elif category == 'photo' %}
                        {{ photo_card(item) }}
                    {% else %}
                        <a class="badge badge-light"
                           href="{{ url_for('main.show_tag', tag_id=item.id) }}">
                            {{ item.name }} {{ item.photos|length }}
                        </a>
                    {% endif %}
                {% endfor %}

            {% else %}
                <h5 class="tip">No results.</h5>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            {% if results %}
                <div class="page-footer">
                    {{ render_pagination(pagination, align='center') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
