{% extends 'auth/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}{{ _('登录') }}{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>{{ _('登录') }}</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <p class="float-left">
            <small>
                <a href="{{ url_for('auth.register') }}">{{ _('注册新用户') }}</a>
            </small>
        </p>
        <p class="float-right">
            <small>
                <a href="{{ url_for('auth.forget_password') }}">{{ _('忘记密码') }}</a>
            </small>
        </p>
    </footer>
{% endblock %}