{% extends 'auth/base_{}.html'.format(request.cookies.get('language','cn')) %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="row h-100 page-header justify-content-center align-items-center">
        <h1>Password Reset</h1>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-body">
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

