{% extends 'base_{}.html'.format(request.cookies.get('language','cn')) %}
{% from 'bootstrap4/form.html' import render_form %}

{% block title %}分类管理{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>分类
            <small class="text-muted">{{ categories|length }}</small>
            {#            <span class="float-right"><a class="btn btn-success btn-sm" href="{{ url_for('.new_category') }}">New Category</a></span>#}
        </h1>
    </div>
    {% if categories %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>编号</th>
                <th>分类名</th>
                <th>文章数</th>
                <th>选项</th>
            </tr>
            </thead>
            {% for category in categories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('blog.show_category', category_id=category.id) }}">{{ category.name }}</a>
                    </td>
                    <td>{{ category.posts|length }}</td>
                    <td>
                        {% if category.id != 1 %}
                            <a class="btn btn-info btn-sm"
                               href="{{ url_for('admin.edit_category', category_id=category.id) }}">修改</a>
                            <form class="inline" method="post"
                                  action="{{ url_for('admin.delete_category', category_id=category.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('确定删除？');">删除
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="text-muted">提示：删除并不会影响该分类下的文章，该分类下的文章会在分类删除后会被移至默认分类</p>
    {% else %}
        <div class="tip"><h5>无分类</h5></div>
    {% endif %}
{% endblock %}
