{% extends 'user/settings/base_{}.html'.format(request.cookies.get('language','cn')) %}

{% block title %}历史数据{% endblock %}

{% block setting_content %}
    <div class="card-body">
        {% if cornea %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>检测日期</th>
                    <th>更新日期</th>
                    <th>选项</th>
                </tr>
                </thead>
                {% for fuck in cornea %}
                    <tr>
                        <td>
                            {{ fuck.datetime }}
                        </td>
                        <td>
                            {{ fuck.updatetime }}
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm"
                               href="{{ url_for('user.change_data',datetime=fuck.datetime) }}">修改</a>
                            <form class="inline" method="post"
                                  action="{{ url_for('user.delete_corneadata', datetime=fuck.datetime, next=request.full_path) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('确定删除？');">删除
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="tip"><h5>无历史信息</h5></div>
        {% endif %}
        <!--        </div>-->
    </div>
{% endblock %}
